/* @font-face {
  font-family: 'Montserrat Regular';
  src: url(./Montserrat/Montserrat-Regular.ttf) format("truetype");
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  padding-top: 0;
}

.app {
  font-family: sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  width: 100vw;
  height: 100vh;
}

.splashactive {
  transition-duration: 0.2s;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  /*
    https://stackoverflow.com/questions/5736503/how-to-make-css3-rounded-corners-hide-overflow-in-chrome-opera
  */
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);;
}

.sessionactive {
  transition-duration: 0.2s;
  opacity: 0;
}

.abstractSquare {
  border-radius: 25px;
  background-color: #6B5DFF;
  width: 70vw;
  height: 70vw;
  position: absolute;
}

.topRight {
  opacity: .3;
  left: 90vw;
  top: -10vh;
  max-width: 200px;
  max-height: 200px;
  transform: rotate(-45deg);
}

.lowerLeft {
  opacity: 0.7;
  transform: rotate(-43deg);
  top: 70vh;
  left: -50vw;
}

.splashcontentcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.slogan {
  margin-bottom: 8px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 2rem;
}

.close {
  background-color: #FF605C;
  width: 13px;
  height: 13px;
  border-radius: 25px;
  position: absolute;
  top: 7px;
  left: 7px;
  transition-duration: 0.2s;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

.close:hover {
  filter: brightness(85%);
  transition-duration: 0.2s;
}

.startbutton { 
  margin-top: 20px;
  max-width: 200px;
  background-color: #6B5DFF;
  width: 70%;
  border-radius: 50px;
  height: 50px;
  border-style: none;
  color: white;
  font-family: 'Montserrat';
  font-weight: 500;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition-duration: 0.2s;
  outline: none;
}

.startbutton span {
  margin-right: 10px;
}

.startbutton:hover {
  background-color: #5242ff;
  transition-duration: 0.2s;
}

button {
  -webkit-app-region: no-drag;
}

.settingsicon {
  position: absolute;
  bottom: 7px;
  right: 7px;
  width: 45px;
  height: 45px;
  transition-duration: 0.2s;
  cursor: pointer;
  background-color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition-timing-function: cubic-bezier(.01,1.81,.98,-1.34);
}

.settingsicon:hover {
  transform: rotate(180deg);
  transition-duration: 0.2s;
  cursor: pointer;
  transition-timing-function: cubic-bezier(.01,1.81,.98,-1.34);
}

.captioncontaineractive {
  min-height: 115px;
  max-height: 115px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  transition-duration: 0.2s;
  -webkit-app-region: no-drag;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.captioncontaineractive * {
  -webkit-app-region: no-drag;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.captioncontainerinactive {
  opacity: 0;
  transition-duration: 0.2s;
}

.caption {
  color: white;
  font-size: 45px;
  font-family: 'Montserrat';
  font-weight: 400;
  margin: 0;
  padding: 0;
  width: 40vw;
  background-color: rgba(0,0,0,.7);
  line-height: 57.5px;
}

.bottomresizebar {
  position: absolute;
  width: 500;
  height: 10;
  bottom: 0;
  background-color: blue;
}